@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FCEEC8;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 100px;
  display: flex;
}

.left-content,
.right-content {
  flex-basis: 50%;
}

.left-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.card {
  width: 100%;
  max-width: 300px;
  background-color: #9EDEF9;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgb(0, 191, 255);
}

.right-content {
  width: 40%;
  text-align: center;
  color: black;
  position: fixed;
  top: 100px;
  right: 10px;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.right-content img {
  margin: 1.5rem;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.right-content h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.abilities {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.abilities .group {
  background-color: #e16374;
  color: white;
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 8px;
  margin-left: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.abilities .group:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgb(8, 245, 237);
}

.base-stat {
  margin-top: 2rem;
}

.btn-group button {
  outline: none;
  border: none;
  width: 150px;
  padding: 0.5rem 0;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #ef4c62;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform-origin: center;
  position: relative;
  overflow: hidden;
}

.btn-group button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b74555;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.btn-group button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-group button:hover:before {
  transform: translateY(0);
}